{% macro menuLink(label,tabName,activeClass) %}
	<li {{ label | length > 22 ? 'style="text-overflow: ellipsis;"' : '' }} class="tablinks {{ activeClass ? 'active': '' }}" onclick="openCity(event, '{{ tabName }}')">
		<a>{{ label }}</a>
	</li>
{% endmacro %}