<div class="content-page tabcontent" id="tabErrorMessages">
	<div class="content full-content">
		<div class="content-section">
			<h1>Definition of Error Messages</h1>
			<p>An error message is a message displayed to the user by an operating system or application when an unexpected condition happens. In most cases, error messages are displayed with the help of dialog boxes by the operating system or application.
			</p>
		</div>
		<div class="overflow-hidden content-section">
			<h2>200 Status Code</h2>
			<p>A 200 status code message indicates that the request was successful.
				<br>
			</p>
		</div>
		<div class="overflow-hidden content-section">
			<h2>400 Status Code</h2>
			<p>400 status code message is the error code that occurs when the server cannot complete the requested action.
				<br>
			</p>
		</div>
		<div class="overflow-hidden content-section">
			<h2>404 Status Code</h2>
			<p>The 404 status code message is an error code that occurs when the requested data is not found.
				<br>

			</p>
		</div>
		<div class="overflow-hidden content-section">
			<h2>407 Status Code</h2>
			<p>A 407 status code message indicates that authorization through proxy is required.
				<br>
			</p>
		</div>
		<div class="overflow-hidden content-section">
			<h2>409 Status Code</h2>
			<p>The 409 error code message is an error code that occurs in case of a conflict within the request.
				<br>
			</p>
		</div>
		<div class="overflow-hidden content-section">
			<h2>410 Status Code</h2>
			<p>The 410 error code is the error code that returns when the source is not available.
				<br>
			</p>
		</div>
		<div class="overflow-hidden content-section">
			<h2>417 Status Code</h2>
			<p>The 417 status code message is an error code that occurs when it does not have the desired parameter values.
				<br>
			</p>
		</div>
		<div class="overflow-hidden content-section">
			<h2>500 Status Code</h2>
			<p>The 500 error code message is the error code returned when an error occurred on the server and the request was not fulfilled.
				<br>
			</p>
		</div>
	</div>
</div>
